@import '../../../variables';

div {
  padding: $spacing-medium;
  border: solid $primary-color 1px;
  border-radius: $border-radius;
  color: $text-color-light;
  margin: 0px;

  p {
    text-align: center;
    margin: 0;
  }

  p:last-child {
    font-weight: bold;
    color: $text-color-dark;
  }
}

