<h2>Olympic games app</h2>
<hr/>
<div>
  <div>
    <app-page-header [title]="titlePage"></app-page-header>
    <div class="split">
      <app-stat-card label="Number of countries" [value]="totalCountries"></app-stat-card>
      <app-stat-card label="Number of JOs" [value]="totalJOs"></app-stat-card>
    </div>
  </div>
  <app-pie-chart 
    [countries]="countries" 
    [medalsData]="medalsData" 
    chartId="DashboardPieChart"
    (sliceClick)="onCountryClick($event)">
  </app-pie-chart>
</div>
