@import '../../../variables';

.center {
  display: flex;
  justify-content: center;
  margin: $spacing-small;

  div {
    background: $primary-color;
    padding: $spacing-medium;
    border-radius: $border-radius;
    color: $white;
  }
}

